@font-face {
   font-family: 'Michroma';
   font-style: regular;
   font-display: swap;
   font-weight: 400;
   src: url('file:///C:/Users/Brunnel/Box/Projetos%20Git%20Hub/SELET%20-%20Copia/fonts/Michroma/regular.ttf') format('truetype');
}
